<!DOCTYPE HTML>
<html>
<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Ski School Scheduler</title>


<!__Load style sheets -->
<link rel="stylesheet" type="text/css" href="/static/css/mainLayout.css" />

<!-- Load any supplemental Javascript libraries here -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery
.min.js"></script>

<script type="text/javascript" src="/static/javascript/url_extract.js"></script>
<script type="text/javascript" src="/static/javascript/layout.js"></script>

<title>{% block title %}{% endblock %}</title>

</head>

<body>
<div class="container">
<div id="header">
	<img id="header_banner" src="/static/images/ContinentalDivide.png">
	<div id="welcome"> Welcome to the Ski School Scheduler</div>
	{% include "navigation.html" %} 
</div>
<br>	

{% block content %}{% endblock%}

</div>

</body>

</html>
