{% extends "base.html" %}

{% block title %} Calendar {% endblock %}

{% block content %}
<!-- The body of the html page contains the header, the side panel, and the calendar panel -->

<!-- Sidebar is a div -- buttons, etc. in it should be the children -->
<!-- TODO -- make it so the sidebar doesn't scroll with the rest of the screen -->
<div id="sidebarPanel">
	<table id="disciplineTable">
        <tr>
            <th colspan=2>Select Discipline</th>
        </tr>
        <tr>
            <td>
                <button class="sidebarButton" id="adultSki"><img img class="sidebarImage" src="/static/images/adultSki.png"></button><br />
                <span class="sidebarText">Adult: Ski</span>
            </td>
            <td>
                <button class="sidebarButton" id="adultSnowboard"><img img class="sidebarImage" src="/static/images/adultSnowboard.png"></button><br />
                <span class="sidebarText">Adult: Snowboard</span>
            </td>
        </tr>
        <tr>
            <td>
                <button class="sidebarButton" id="childrenSki"><img img class="sidebarImage" src="/static/images/childrenSki.png"></button><br />
                <span class="sidebarText">Children: Ski</span>
            </td>
            <td>
                <button class="sidebarButton" id="childrenSnowboard"><img class="sidebarImage" src="/static/images/childrenSnowboard.png"></button><br />
                <span class="sidebarText">Children: Snowboard</span>
            </td>
        </tr>		
        <tr>
            <td>
                <button class="sidebarButton" id="racing"><img img class="sidebarImage" src="/static/images/racing.png"></button><br />
                <span class="sidebarText">Racing</span>
            </td>
        </tr>

        <tr><td class="sidebarSpacer">&nbsp;</td></tr>

        <tr>
            <td>
                <button class="sidebarButton" id="removeShift"><img img class="sidebarImage" src="/static/images/eraser.png"></button><br />
                <span class="sidebarText">Remove Shift</span>
            </td>
            <td>
                <button class="sidebarButton" id="arrow"><img img class="sidebarImage" src="/static/images/arrow.png"></button><br />
                <span class="sidebarText">&nbsp;</span>
            </td>
        </tr>		

        <tr><td class="sidebarSpacer">&nbsp;</td></tr>

        <tr>
            <td colspan=2 id="submitCell">
                <button id="submit">Submit</button>
            </td>
        </tr>

	</table>

</div>

<!-- Header is a div -->
<div id="headerPanel"></div>

<!-- Calendar panel is a div, containing the individual months as the children -->
<div id="calendarPanel">
    <table class="month" id="december"><tr><th colspan=7>DECEMBER</th></tr>
        <tr><td>Sunday</td><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td></tr>
<tr><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td></tr>
<tr><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td></tr>
<tr><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td></tr>
<tr><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td></tr>
<tr><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td><td class="day">&nbsp;</td></tr>

</table>
    <table class="month" id="january"><tr><th colspan=7>JANUARY</th></tr></table>
    <table class="month" id="february"><tr><th colspan=7>FEBRUARY</th></tr></table>
    <table class="month" id="march"><tr><th colspan=7>MARCH</th></tr></table>

<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
<div><img src="/static/images/day.png">
</div>

</div>

{% endblock %}
