{% extends "base.html" %}

{% block title %} Calendar {% endblock %}

{% block content %}
<!-- The body of the html page contains the header, the side panel, and the calendar panel -->

<!-- Sidebar is a div -- buttons, etc. in it should be the children -->
<div id="sidebarPanel">
	<table id="disciplineTable">
        <tr>
            <th colspan=2>Select Discipline</th>
        </tr>
        <tr>
            <td>
                <button class="sidebarButton" id="adultSki"><img img class="sidebarImage" src="/static/images/adultSki.png"></button><br />
                <span class="sidebarText">Adult: Ski</span>
            </td>
            <td>
                <button class="sidebarButton" id="adultSnowboard"><img img class="sidebarImage" src="/static/images/adultSnowboard.png"></button><br />
                <span class="sidebarText">Adult: Snowboard</span>
            </td>
        </tr>
        <tr>
            <td>
                <button class="sidebarButton" id="childrenSki"><img img class="sidebarImage" src="/static/images/childrenSki.png"></button><br />
                <span class="sidebarText">Children: Ski</span>
            </td>
            <td>
                <button class="sidebarButton" id="childrenSnowboard"><img class="sidebarImage" src="/static/images/childrenSnowboard.png"></button><br />
                <span class="sidebarText">Children: Snowboard</span>
            </td>
        </tr>		
        <tr>
            <td>
                <button class="sidebarButton" id="racing"><img img class="sidebarImage" src="/static/images/racing.png"></button><br />
                <span class="sidebarText">Racing</span>
            </td>
        </tr>

        <tr><td class="sidebarSpacer">&nbsp;</td></tr>

        <tr>
            <td>
                <button class="sidebarButton" id="removeShift"><img img class="sidebarImage" src="/static/images/eraser.png"></button><br />
                <span class="sidebarText">Remove Shift</span>
            </td>
            <td>
                <button class="sidebarButton" id="arrow"><img img class="sidebarImage" src="/static/images/arrow.png"></button><br />
                <span class="sidebarText">&nbsp;</span>
            </td>
        </tr>		

        <tr><td class="sidebarSpacer">&nbsp;</td></tr>

        <tr>
            <td colspan=2 id="submitCell">
                <button id="submit">Submit</button>
            </td>
        </tr>

	</table>

</div>

<!-- Header is a div -->
<div id="pendingHeader">
<h1> You must hit submit to record changes! </h1>
{% if pending_changes != None %}
	<table class="pendingChanges">
		<tr>
			<th></th>
			{% if isAdmin == "True" %}
				<th class="acceptColumn">Accept</th>
				<th class="rejectColum">Reject</th>
			{% endif %}
		</tr>
		{% for status, date, time, discipline, cnt in pending_changes %}
			<tr>
				<td> {{discipline }} {{ time }} on {{ date }} is {{ status }}</td>
				{% if isAdmin == "True" %}
					<td class="acceptColumn"><input type="radio" name= {{ cnt }} value="Accept"></td>
					<td class="rejectColumn"><input type="radio" name= {{ cnt }} value="Reject"></td>
				{% endif %}
			<tr>
		{% endfor %}
	</table>
{% endif %}

</div>

<!-- Calendar panel is a div, containing the individual months as the children -->
<div id="calendarPanel">
	{% for date in all_dates %}
		{% if date.month == 12 %}
			{% if date.day == 1 %}
				<table class="month" id="december">
					<tr><th colspan=7>DECEMBER</th></tr>
					<tr><td>Sunday</td><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td></tr>
					<tr>
					{% for i in dec_offset_start %}
						<td class="day">&nbsp </td>
					{% endfor %}
					
			{% endif %}
			<td class = "day">{{date.day}}</td>
			{% if date.weekday == 5 %}
			</tr>
			<tr>
			{% endif %}
		{% endif %}

		{% if date.month == 1 %}
			{% if date.day == 1 %}
				{% for i in dec_offset_end %}
					<td class="day">&nbsp </td>
				{% endfor %}
				</tr>
				</table>
				<table class="month" id="january">
					<tr><th colspan=7>JANUARY</th></tr>
					<tr><td>Sunday</td><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td></tr>
					<tr>
					{% for i in jan_offset_start %}
						<td class="day">&nbsp </td>
					{% endfor %}
					
			{% endif %}
			<td class = "day">{{date.day}}</td>
			{% if date.weekday == 5 %}
			</tr>
			<tr>
			{% endif %}
		{% endif %}
		
		{% if date.month == 2 %}
			{% if date.day == 1 %}
				{% for i in jan_offset_end %}
					<td class="day">&nbsp </td>
				{% endfor %}
				</tr>
				</table>
				<table class="month" id="february">
					<tr><th colspan=7>FEBRUARY</th></tr>
					<tr><td>Sunday</td><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td></tr>
					<tr>
					{% for i in feb_offset_start %}
						<td class="day">&nbsp </td>
					{% endfor %}
					
			{% endif %}
			<td class = "day">{{date.day}}</td>
			{% if date.weekday == 5 %}
			</tr>
			<tr>
			{% endif %}
		{% endif %}

		{% if date.month == 3 %}
			{% if date.day == 1 %}
				{% for i in feb_offset_end %}
					<td class="day">&nbsp </td>
				{% endfor %}
				</tr>
				</table>
				<table class="month" id="march">
					<tr><th colspan=7>MARCH</th></tr>
					<tr><td>Sunday</td><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td></tr>
					<tr>
					{% for i in mar_offset_start %}
						<td class="day">&nbsp </td>
					{% endfor %}
					
			{% endif %}
			<td class = "day">{{date.day}}</td>
			{% if date.weekday == 5 %}
			</tr>
			<tr>
			{% endif %}
		{% endif %}
	{% endfor %}
	{% for i in mar_offset_end %}
		<td class="day">&nbsp </td>
	{% endfor %}
	</tr>
	</table>


	<table class="my_schedule" border="1">
		<tr>
			<td colspan=4 align="center"> {{ instructor }} 's Schedule </td>
		</tr>
		<tr>
			<th> Status </th>
			<th> Date </th>
			<th> Time </th>
			<th> Discipline </th>
		</tr>

		{% for status, date, time, discipline in shifts %}
		<tr>
			<td> {{ status }} </td>
			<td> {{ date.weekday }} </td>
			<td> {{ time }} </td>
			<td> {{ discipline }} </td>
		</tr>
		{% endfor %}

	</table>
</div>

{% endblock %}
