{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% if error = "Your Schedule was successfully submitted" %}
	{% if isAdmin == "True" %}
		<div class="submitSuccess">Your Schedule was successfully submitted!</div>
	{% else %}
		<div class="submitSuccess">Your Schedule Change Request was successfully submitted!</div>
	{% endif %}
{% endif %}
{% if is_logged_in == "False" %}
	{% if error == "Please login" %}
		<div class="message"> {{ error }} </div>
	{% endif %}
	<form id="login_form" action="/" method="post">
	<label for="username">Username</label>
	<input type="text" name="username" value="" id="username" >
	<label for="password">Password</label>
	<input type="password" name="password" value="" id="password" >
	<input type="submit" value="login" />

	</form>
	{% if error != "Please login" %}
		<div class="message"> {{ error }} </div>
	{% endif %}
{% else %}
	<div class="message"> Welcome {{ instructor }} </div> 
	{% if error == "authorizationDenied" %}
	<div id="authError">You do not have authorization to view that page! </div>
	{% endif %}
	{% if isAdmin == "True" %}
		<div class="calToView">
		<div id="message2"><b>Click on the instructor's name to view his/her schedule </b></div>
		<br>
		<table id = listInstructor cellpadding = "10">
		<tr valign="top">
			<td><b>Admins</b>
			<br>
			{% for username, name, status in allInstr %}
				{% if status == "admin" %}
					<a href="/calendar/{{ username }}">{{ name }}</a>
					<br>
				{% endif %}
			{% endfor %}
			</td>
			<td>
			<b>Unapproved Schedule</b>
			<br>
			{% for username, name, status in allInstr %}
				{% if status == "unapproved" %}
					<a href="/calendar/{{ username }}">{{ name }}</a>
					<br>
				{% endif %}
			{% endfor %}
			</td>
			<td><b>Pending Changes</b>
			<br>
			{% for username, name, status in allInstr %}
				{% if status == "pending" %}
					<a href="/calendar/{{ username }}">{{ name }}</a>
					<br>
				{% endif %}
			{% endfor %}
			</td>
			<td>
			<b>No Pending Actions</b>
			<br>
			{% for username, name, status in allInstr %}
				{% if status == "normal" %}
					<a href="/calendar/{{ username }}">{{ name }}</a>
					<br>
				{% endif %}
			{% endfor %}
			</td>
		</tr>
		</table>
	{% endif %}
	</div>
{% endif %}

	
{% endblock %}


