{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% if is_logged_in == "False" %}
	{% if error == "Please login" %}
		<div class="message"> {{ error }} </div>
	{% endif %}
	<form id="login_form" action="/" method="post">
	<label for="username">Username</label>
	<input type="text" name="username" value="" id="username" >
	<label for="password">Password</label>
	<input type="password" name="password" value="" id="password" >
	<input type="submit" value="login" />

	</form>
	{% if error != "Please login" %}
		<div class="message"> {{ error }} </div>
	{% endif %}
{% else %}
	<div class="message"> Welcome {{ instructor }} </div> 
	{% if error == "authorizationDenied" %}
	<div id="authError">You do not have authorization to view that page! </div>
	{% endif %}
	{% if isAdmin == "True" %}
		<div class="calToView">
		<p id="message2"> Click on the instructor's name to view his/her schedule </p>
		<br>
		<br><p>
		{% for username, name in allInstr %}
		<a href="/calendar/{{ username }}">{{ name }}</a>
		<br>
		{% endfor %}
		</p>
	{% endif %}
	</div>
{% endif %}

	
{% endblock %}


