body{
	background-color: rgb(240,250,255);
}
div.container{
	width: 100%;
	margin:0px;
}

#disciplineTable{
	width:100px;
}

#disciplineTable tr{
	vertical-align:top;
}

.sidebarImage{
	height:20px;
	width:20px;
}

.calendarImage{
	height:30px;
	width:30px;
	position:relative;
	z-index:1;
	top:0px;
	left:0px;
}

.overlayImage{
	height:30px;
	width:30px;
	position:relative;
	z-index:2;
	top:-30px;
	left:0px;
}

.buttonSpan{
	height:39px;
	width:46px;
}

.blank{
	height: 37px;
	width: 50px;
	background-color: rgb(240,250,255);
	opacity: 0;
}

.shiftButtons{
	text-align: left;
	vertical-align: top;
}

.dayOfWeek{
	text-align: center;
}

#sidebarPanel{
	position: fixed;
	top: 93px;
	padding-top: 1%;
	width: 115px;
	left: 0px;
	height: 100%;
	z-index: 2;
	background-color: rgb(190,217, 239);
	border-right-style: solid;
	border-right-color: black;
	border-right-width: 1px;
}

#pendingHeader{
	position: fixed;
	top: 93px;
	left: 115px;
	z-index:20;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgb(190,217, 239);
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
}

#calendarPanel{
	position: absolute;
	margin: 1%;
	left: 115px;
	top: 20px;
	z-index: 1;
}
.month{
	border-collapse:collapse;
	border:3px solid black;
	margin:0px;
	z-index:1;
}

.day{
	padding:2px;
	margin:0px;
	border:1px solid black;
	z-index:1;
	width: 164px;
	height:64px;
	top:0px;
	vertical-align: text-top;
	text-align: right;
	
}


#header{
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 90px;
	padding:0px;
	margin:0px;
	z-index:20;
	background-color: rgb(190,217, 239);
}

.navigationBar{
	position: fixed;
	top: 55px;
	background-color: #000066;
	z-index:21;
	width: 100%
}

#login_form{
	position: absolute;
	top: 120px;
}

.message{
	position: absolute;
	top: 100px;
}

#authError{
	position: absolute;
	top: 120px;
}

#header_banner{
	width: 100%;
	height: 50px;
	z-index: 15;
}

#welcome{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 5%;
	z-index :16;
	font-size: 40px;
}

.acceptColumn{
	width: 100px;
	text-align: center;
}

.rejectColumn{
	width: 100px;
	text-align: center;
}


ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow: hidden;
}

li{
	float:left;
	padding: 10px;
}

a.nav:link, a.nav:visited{
	display: block;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000066;
	text-align: center;
	padding 4px;
	text-decoration: none;
	text-transform: uppercase;
}

a.nav:hover{
	color: #CC9999;
}


.calToView { 
	position: absolute;
	top: 150px;
	width: 100%
}

#message2{
	position: absolute;
	top: 0px;
}

#blankCanvas{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -10;
}

.defaultButton{
	height:39px;
	width:46px;
}

.dayButton{
	background-color: #FFFF66;
	height:39px;
	width:46px;
}

.eveningButton{
	background-color: LightBlue;
	height:39px;
	width:46px;
}

.nightButton{
	background-color: Black;
	height:39px;
	width:46px;
}

#legend{
	position: relative;
	top: 0px;	
	left: 0px;
	text-align: center;	
}

.pendingChanges{
	position: relative;
	top: 0px;
	left: 0px;
}
.leg{
	width: 50px;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.subMsg{
	font-size: xx-large;	
}
.legImg{
	width: 30px;
	height: 30px;
}

#instructor{
	font-size: x-large;
}
