div.container{
	width: 100%;
	margin:0px;
}

#disciplineTable{
	width:100px;
}

#disciplineTable tr{
	vertical-align:top;
}

.sidebarImage{
	height:30px;
	width:30px;
	
}

.calendarImage{
	height:30px;
	width:30px;
	
}

.blank{
	height: 37px;
	width: 46;
	padding: 2px 6px 3px;
	boarder: 2px;
	
}

.shiftButtons{
	text-align: left;
}

#sidebarPanel{
	position: fixed;
	top: 90px;
	padding-top: 1%;
	width: 150px;
	left: 0px;
	height: 100%;
	z-index: 1;
	background-color: rgb(190,217, 239);
}

#pendingHeader{
	position: fixed;
	top: 90px;
	left: 150px;
	z-index:20;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: white;
}

#calendarPanel{
	position: absolute;
	margin: 1%;
	left: 150px;
	top: 200px;
	z-index: 1;
}
.month{
	border-collapse:collapse;
	border:3px solid black;
	margin:0px;
	z-index:1;
}

.day{
	padding:2px;
	margin:0px;
	border:1px solid black;
	z-index:1;
	width: 164px;
	height:64px;
	top:0px;
	vertical-align: text-top;
	text-align: right;
	
}


#header{
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 90px;
	padding:0px;
	margin:0px;
	z-index:20;
	background-color: rgb(190,217, 239);
}

#navigationBar{
	position: fixed;
	top: 50px;
	background-color: rgb(190,217, 239);
	z-index:21;
}

#login_form{
	position: absolute;
	top: 120px;
}

.message{
	position: absolute;
	top: 100px;
}

#authError{
	position: absolute;
	top: 120px;
}

#header_banner{
	width: 100%;
	height: 50px;
	z-index: 15;
}

#welcome{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 5%;
	z-index :16;
	font-size: 40px;
}

.acceptColumn{
	width: 100px;
	text-align: center;
}

.rejectColumn{
	width: 100px;
	text-align: center;
}


ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

li{
	float:left;
	padding: 10px;
}

.calToView { 
	position: absolute;
	top: 150px;
	width: 100%
}

#message2{
	position: absolute;
	top: 0px;
}

#blankCanvas{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -10;
}
