#disciplineTable{
	width:100px;
}

#disciplineTable tr{
	vertical-align:top;
}

.sidebarImage{
	height:60px;
	width:60px;
}

.month{
	border-collapse:collapse;
	border:3px solid black;
	margin:0px;
}

.day{
	padding:2px;
	margin:0px;
	border:1px solid black;
}

#header_banner{
	position:fixed;
	top: 0px;
	left: 0px;
	z-index: 0;
}

#welcome{
	position:fixed;
	top: 50px;
	left: 170px;
	z-index :1;
	font-size: 40px;
}
